<template>
  <div>
    <div class="columns">
      <div class="column is-5">
        <h1 class="title is-6">Bots</h1>
      </div>
      <div class="column is-1 is-offset-3">
        <b-button size="is-small"
          class="btn-fixed-size"
          type="is-success"
          icon-left="plus-circle"
          @click="addBot()">
          Add Bot
        </b-button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <b-table :data="options" paginated pagination-size="is-small" per-page="10">
          <template slot-scope="props">
              <b-table-column field="id" width="40">
                <b-button size="is-small" type="is-danger" icon-right="trash" @click="removeBot(props.row.id)"/>
              </b-table-column>
              <b-table-column field="profile_id" label="Bot ID" width="40">
                {{ props.row.profile_id }}
              </b-table-column>
              <b-table-column field="name" label="Bot Name" width="40">
                {{ props.row.name }}
              </b-table-column>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as _ from 'lodash'

export default {
  name: 'BotOptions',
  data () {
    return {
      options: []
    }
  },
  methods: {
    addBot() {
      this.$dialog.prompt({
        message: 'Bot name',
        onConfirm: (botName) => {
          this.$dialog.prompt({
            message: 'Bot ID',
            onConfirm: (botId) => {
              axios.post('profile', {
                name: botName,
                profile_id: botId
              }).then(r => this.options.push(r.data))
            }
          })
        }
      })
    },
    removeBot (id) {
      axios.delete(`profile/${id}`)
        .then(() => {
          this.options = _.filter(this.options, v => v.id != id)
        })
    }
  },
  mounted () {
    axios.get('profile').then(r => this.options = r.data)
  }
}
</script>
