<template>
  <b-table :data="filteredRows" paginated pagination-size="is-small" per-page="10">
    <template slot-scope="props">
      <b-table-column field="user_name" label="Bot Name">
        {{ props.row.user_name }}
      </b-table-column>
      <b-table-column field="object_name" label="Object">
        {{ props.row.object_name }}
      </b-table-column>
      <b-table-column field="object_color" label="Color">
        {{ props.row.object_color }}
      </b-table-column>
      <b-table-column field="date" label="Found Date">
        {{ props.row.date }}
      </b-table-column>
    </template>
  </b-table>
</template>

<script>
import * as _ from 'lodash'
import moment from 'moment'

export default {
  props: ['rows', 'filterBot', 'filterObject', 'filterColor'],
  computed: {
    filteredRows() {
      let fRows = this.utcToLocal(this.rows)
      fRows = this.filter(fRows, 'user_name', this.filterBot)
      fRows = this.filter(fRows, 'object_name', this.filterObject)
      fRows = this.filter(fRows, 'object_color', this.filterColor)
      return _.orderBy(fRows, ['date'], ['desc'])
    }
  },
  methods: {
    filter (data, column, value) {
      if (!value) return data
      return _.filter(data, (v) => v[column].toLowerCase().includes(value.toLowerCase()))
    },
    utcToLocal(data) {
      return _.map(data, (v) => {
        let elm = _.cloneDeep(v)
        let dt = moment.utc(elm.date).toDate()
        elm.date = moment(dt).local().format('YYYY-MM-DD HH:mm:ss')
        return elm
      })
    }
  }
}
</script>
