<template>
  <div>
    <div class="columns">
      <div class="column is-5">
        <h1 class="title is-6">{{ optionName }}s</h1>
      </div>
      <div class="column is-1 is-offset-3">
        <b-button size="is-small"
          class="btn-fixed-size"
          type="is-success"
          icon-left="plus-circle"
          @click="addOption()">
          Add {{ optionName }}s
        </b-button>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <b-table :data="options" paginated pagination-size="is-small" per-page="10">
          <template slot-scope="props">
              <b-table-column field="id" width="40">
                <b-button size="is-small" type="is-danger" icon-right="trash" @click="removeOption(props.row.id)"/>
              </b-table-column>
              <b-table-column field="name" :label="optionName" width="40">
                {{ props.row.name }}
              </b-table-column>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as _ from 'lodash'

export default {
  name: 'SimpleOptions',
  props: ['option', 'optionName'],
  data () {
    return {
      options: []
    }
  },
  methods: {
    addOption() {
      this.$dialog.prompt({
        message: 'Add ' + this.optionName,
        onConfirm: (value) => {
          axios.post(this.option, {
            name: value
          }).then(r => this.options.push(r.data))
        }
      })
    },
    removeOption (id) {
      axios.delete(`${this.option}/${id}`)
        .then(() => {
          this.options = _.filter(this.options, v => v.id != id)
        })
    }
  },
  mounted () {
    axios.get(this.option).then(r => this.options = r.data)
  }
}
</script>
