<template>
  <div>
    <div class="columns">
      <div class="column is-offset-9 is-2">
        <b-button size="is-small"
          style="width: 100%"
          type="is-success"
          icon-left="plus-circle"
          @click="getData()">
          Refresh Data
        </b-button>
      </div>
      <div class="column is-1">
        <b-field>
          <b-input icon="sync"
            size="is-small"
            v-model="refreshTimeout"
            placeholder="Refresh"
            type="number"
            min="0">
          </b-input>
        </b-field>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2">
        <b-field>
          <b-input icon="robot"
            size="is-small"
            v-model="filterBot"
            placeholder="Filter Bot">
          </b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field>
          <b-input icon="hat-wizard"
            size="is-small"
            v-model="filterObject"
            placeholder="Filter Object">
          </b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field>
          <b-input icon="palette"
            size="is-small"
            v-model="filterColor"
            placeholder="Filter Color">
          </b-input>
        </b-field>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <main-table :rows="rows"
          :filter-color="filterColor"
          :filter-object="filterObject"
          :filter-bot="filterBot">
        </main-table>
      </div>
    </div>
  </div>
</template>

<script>
import MainTable from '@/components/MainTable'

import axios from 'axios'

export default {
  name: 'home',
  components: {
    MainTable
  },
  data () {
    return {
      rows: [],
      refreshTimeout: 0,
      timer: null,
      filterBot: null,
      filterObject: null,
      filterColor: null
    }
  },
  watch: {
    refreshTimeout () {
      clearInterval(this.timer)
      if (parseInt(this.refreshTimeout)) {
        this.timer = setTimeout(this.getData, this.refreshTimeout * 1000)
      }
    }
  },
  methods: {
    getData() {
      clearInterval(this.timer)
      axios.get('found-object').then((r) => {
        this.rows = r.data
        this.$toast.open('Table updated')
      })
      if (parseInt(this.refreshTimeout)) {
        this.timer = setTimeout(this.getData, this.refreshTimeout * 1000)
      }
    }
  },
  mounted () {
    this.getData()
  }
}
</script>
