<template>
  <div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <bot-options></bot-options>
      </div>
      <div class="column is-4 is-offset-1">
        <simple-options option="steam-object" option-name="Steam Object"></simple-options>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <simple-options option="object-color" option-name="Object Color"></simple-options>
      </div>
      <div class="column is-4 is-offset-1">
        <simple-options option="excluded-object" option-name="Excluded Object"></simple-options>
      </div>
    </div>
  </div>
</template>

<script>
import BotOptions from '@/components/BotOptions'
import SimpleOptions from '@/components/SimpleOptions'

export default {
  name: 'options',
  components: {
    BotOptions,
    SimpleOptions
  }
}
</script>
